@import './configs/config-styles.scss';
#root {
  font-family: Rubik;
}

.hide {
  display: none;
}

.bgc-1 {
  background-color: $green-importance;
}
.bgc-2 {
  background-color: $yellow-importance;
}
.bgc-3 {
  background-color: $red-importance;
}
.title-n-importance {
  border-bottom: 1px solid black;
  header {
    margin-top: 0.5rem;
  }
  div.dueDate {
    font-size: 0.5rem;
    width: 2rem;
    display: flex;
    align-items: center;
    color: rosybrown;
    margin-bottom: 0.5rem;
  }
  span {
    font-size: 0.5rem;
    padding: 0.5rem;
    height: 1.5rem;
    margin-bottom: 0.5rem;
  }
}
html,
body,
div#root {
  height: 100%;
  .App {
    height: 100%;
    header {
      div {
        nav.fixed-top-nav {
          display: none;
        }
        span.nav {
          background-color: $green-dark;
          justify-content: flex-start;
          div.dropdown-menu.show {
            transform: translate3d(-40px, 40px, 0px);
            min-width: 0;
          }
          ul {
            width: 100%;
          }
          .nav-link {
            padding: 8px;
            color: white;
            -webkit-box-shadow: inset 2px -2px 7px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: inset 2px -2px 7px 0px rgba(0, 0, 0, 0.75);
            box-shadow: inset 2px -2px 7px 0px rgba(0, 0, 0, 0.75);
            border-radius: 0;
          }
          .nav-link.active {
            background-color: $green-light;
            border-radius: 0;
            box-shadow: none;
          }
          li.nav-item {
            width: 20%;
            text-align: center;
          }
        }
      }
    }
    // Main Sections
    // Empty
    .empty-my-issues {
      background-color: $green-light;
      height: auto;
      color: #ebecf0;
      text-align: center;
      min-height: 100%;
      button {
        font-weight: bold;
        border: 0.15rem solid;
        padding: 2rem;
        width: 70%;
        box-shadow: 2px 2px;
      }
      header {
        text-align: center;
        font-size: 2.7rem;
        padding: 5rem 2rem;
      }
    }
    // Adding Issue
    .edit-issue,
    .add-issue {
      background-color: $green-light;
      height: inherit;
      padding: 2rem 0 0 0;

      .add-issue-form {
        background-color: #ebecf0;
        border-radius: 8px;
        margin: 0 2rem;
        border: #979797 solid 1px;
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        box-shadow: 0px 1px 5px 1px rgb(83, 83, 83);

        section.importance {
          h5 {
            color: $gray-dark;
          }
          div.btn-group {
            .importance-button {
              padding: 0;
            }
          }
        }
        button.create-issue {
          align-self: center;
          font-weight: bold;
          border: 0.15rem solid;
          margin: 0rem;
          padding: 1.5rem;
          width: 100%;
          box-shadow: 2px 2px 4px;
        }
        input {
          border: #979797 solid 2px;
          margin-bottom: 0.5rem;
          padding: 0 5px;
        }
        textarea {
          align-content: flex-start;
          height: 20vh;
          border: #979797 solid 2px;
          padding: 0 5px;
        }
        div.action-item {
          display: flex;
          justify-content: flex-start;
          .checkbox {
            margin: auto 0.5rem;
            width: 1rem;
          }
          .description {
            margin: 0.5rem 0;
            width: 100%;
            border: gray solid 2px;
          }
        }
        div.btn-group {
          display: flex;
          justify-content: space-between;

          input {
            width: 80%;
          }
        }
      }
    }
    // if list of issues
    .my-issues {
      background-color: $green-light;
      height: auto;
      display: flex;
      flex-direction: column;
      padding-top: 1.5rem;
      a {
        color: black;
        text-decoration: none;
      }
      .icons {
        display: none;
      }
      button {
        display: none;
      }
      .issue-card {
        padding: 1rem;
        height: 25vh;
        header {
          width: 100%;
          font-size: 1rem;
          font-weight: bold;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1; /* number of lines to show */
          line-height: 1.5rem; /* fallback */
          max-height: 4rem;
          margin-top: 0.5rem;
        }

        p {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2; /* number of lines to show */
          line-height: 1.2rem; /* fallback */
          max-height: 3rem;
          margin-bottom: 0.5rem;
        }
      }
      .checkbox {
        .cover {
          width: 100%;
          height: 100%;
          background: transparent;
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
          display: none;
        }
      }
    }
    // Issue Details Page
    .issue-details-page {
      background-color: $green-light;
      height: inherit;
      padding-top: 1.5rem;
      section.issue-details {
      }
    }
    .profile-page {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $green-light;
      height: inherit;
      padding-top: 1.5rem;
      .profile-pic {
        width: 80%;
        border-radius: 50%;
        border: 5px solid $gray-light;
        margin-bottom: 1rem;
      }
      h2,
      p {
        color: white;
      }
    }
  }
}

//************************************************ Promo Page ***************************************************//
.PromoApp {
  background-image: url('./images/mobile-promo-bg.png');
  background-size: cover;
  height: 170vh;
  .navbar {
    margin: 0 auto;
    width: 80%;
    padding: 1rem;
    max-width: 320px;
    .login {
      color: white;
    }
    button {
      width: 6rem;
      border-radius: 2rem;
      background-color: transparent;
      border: 2px solid $orange-dark;

      color: white;
      margin-left: 1rem;
    }
  }

  div.promo {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 320px;
    .left-column {
      display: flex;
      flex-direction: column;
      h1 {
        margin: 2rem 1.5rem 0 1.5rem;
        color: white;
        font-weight: 500;
        font-size: 1.5625rem;
        text-align: center;
      }
      p {
        margin: 2rem 1.5rem 2rem 1.5rem;
        color: white;
        font-weight: 300;
        font-size: 1.3125rem;
        text-align: center;
      }
      button {
        background-color: #d36300;
        border-radius: 0.5rem;
        border-color: #d36300;
        width: 14.0625rem;
        height: 3.4375rem;
        color: white;
        font-size: 1.3125rem;
        font-weight: 500;
        margin-bottom: 2rem;
      }
      .signup-cta {
        width: 14.0625rem;
        align-self: center;
      }
    }
  }
  .promo-row-2 {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 320px;
    h1 {
      margin: 2rem 1.5rem 0 1.5rem;
      color: white;
      font-weight: 500;
      font-size: 1.5625rem;
      text-align: center;
    }
    p {
      margin: 2rem 1.5rem 2rem 1.5rem;
      color: white;
      font-weight: 300;
      font-size: 1.3125rem;
      text-align: center;
    }
    .flex-item:nth-of-type(1) {
      order: 2;
    }
    .flex-item:nth-of-type(2) {
      order: 1;
    }
    .laptop {
      width: 80%;
      margin: auto;
      .responsive {
        width: 100%;
        height: auto;
      }
    }
  }
}

select#users {
  margin: 1rem 0;
}

.issue-details,
.issue-card {
  box-shadow: 0px 1px 5px 1px rgb(83, 83, 83);
  background-color: #ebecf0;
  margin: 0 1.5rem 1.5rem;
  border: #979797 solid 1px;
  border-radius: 8px;
  padding: 1rem;

  overflow: hidden;
  header {
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
  }
  p {
    margin-bottom: 0;
    line-height: 1.2rem;
  }
  .buttons {
    button {
      font-size: 1rem;
    }
  }
  div {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
  }
}

.my-action-items {
  display: flex;
  flex-direction: column;

  .action-item {
    display: flex;
    justify-content: flex-start;
  }

  div.checkbox {
    display: flex;
    align-content: flex-start;
    margin: 0.6rem 0;
  }
  input.checkbox {
    align-self: flex-start;
    margin-left: 1rem;
  }
  p {
    font-size: 1rem;
    margin: 0.5rem 1rem;
  }
}

//************************************************ Desktop ***************************************************//
@media (min-width: 720px) {
  .hide-desktop {
    display: none;
  }
  .hide {
    display: inline;
  }
  html,
  body,
  div#root {
    .App {
      background-color: $green-dark;
      height: auto;
      min-height: 100%;
      display: flex;
      header.links {
        div {
          .fixed-top-nav {
            padding: 0 1rem;
            box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.75);
            z-index: 1; /* Stay on top */
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: fixed; /* Fixed Sidebar (stay in place on scroll) */
            background-color: $green-dark;
            width: 100%;
            height: 64px;
            .search-bar,
            .settings {
              .nav-link {
                padding: 0;
              }
              li {
                list-style: none;
              }
              display: flex;
              align-items: center;
              margin: 0;
              width: auto;
              .profile-pic {
                border-radius: 50%;
                border: 2px solid $gray-light;
              }
            }
          }
          span.nav {
            width: 240px;
            background-color: $green-dark;
            margin-top: 64px;
            height: 100%;
            position: fixed; /* Set the navbar to fixed position */
            top: 0; /* Position the navbar at the top of the page */
            display: flex;
            flex-direction: column;
            li.nav-item {
              width: 100%;
              text-align: left;
              a {
                display: flex;
                padding-left: 1.5rem;
                height: 7rem;
                align-items: center;
                .link-icon {
                  padding-right: 1.5rem;
                  width: 80px;
                }
              }
            }
          }
        }
      }
      .section {
        margin-left: 240px;
        margin-top: 64px;
        width: 100%;
        height: auto;
        min-height: 100%;
      }
      .profile-page {
        @extend .section;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $green-light;
        height: inherit;
        padding-top: 1.5rem;
        justify-content: center;
        .profile-pic {
          width: 30%;
          border-radius: 50%;
          border: 5px solid $gray-light;
          margin-bottom: 1rem;
        }
        h2,
        p {
          color: white;
        }
      }
      .my-issues {
        @extend .section;
        height: auto;
        flex-direction: row;
        flex-wrap: wrap;
        a {
          margin: 0.5rem;
          width: 13rem;
          height: 20rem;
        }
      }
      .empty-my-issues {
        @extend .section;
        height: auto;
        min-height: 100%;
      }
      .add-issue {
        @extend .section;
      }
      .issue-details-page {
        @extend .section;
      }
      .edit-issue {
        @extend .section;
      }
    }
  }

  .PromoApp {
    min-height: 1400px;
    background-image: url('./images/desktop-promo-bg.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    .navbar {
      max-width: 100%;
      padding-top: 2rem;
    }
    .flex {
      display: flex;
      margin-top: 5rem;
      .laptop {
        margin: 4rem 7rem 0 0rem;
      }
      .responsive {
        width: 100%;
        height: auto;
      }
    }
    div.promo {
      margin: 10% auto;
      display: flex;
      flex-direction: column;
      justify-content: left;
      width: auto;
      max-width: 80%;
      .left-column {
        max-width: 550px;
        h1 {
          text-transform: uppercase;
          margin: 2rem 1.5rem 0 1.5rem;
          color: white;
          font-weight: 300;
          font-size: 40px;
          text-align: left;
        }
        p {
          margin: 2rem 1.5rem 2rem 1.5rem;
          color: white;
          font-weight: 300;
          font-size: 22px;
          text-align: left;
        }
        button {
          background-color: #d36300;
          border-radius: 0.5rem;
          border-color: #d36300;
          width: 14.0625rem;
          height: 3.4375rem;
          color: white;
          font-size: 1.3125rem;
          font-weight: 500;
        }
        .signup-cta {
          display: none;
        }
      }
    }
    .promo-row-2 {
      margin: 13rem auto 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: auto;
      max-width: 80%;
      h1 {
        text-transform: uppercase;
        margin: 2rem 1.5rem 0 1.5rem;
        color: white;
        font-weight: 300;
        font-size: 40px;
        text-align: left;
      }
      p {
        margin: 2rem 1.5rem 2rem 1.5rem;
        color: white;
        font-weight: 300;
        font-size: 22px;
        text-align: left;
      }
      .flex-item:nth-of-type(1) {
        order: 1;
      }
      .flex-item:nth-of-type(2) {
        order: 2;
      }
      .laptop {
        width: 80%;
        margin: auto;
        .responsive {
          width: 100%;
          height: auto;
          padding-right: 2rem;
        }
      }
    }
  }
}
