/* Provide sufficient contrast against white background */

a {
  color: #0366d6;
}

#root {
  background-color: #659e60;
  height: 700vh;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.empty-my-issues {
  color: #999999;
  text-align: center;
  button {
    font-weight: bold;
    border: 0.15rem solid;
    padding: 2rem;
    width: 70%;
    box-shadow: 2px 2px;
  }
  header {
    text-align: center;
    font-size: 2.7rem;
    padding: 5rem 2rem;
  }
}

.add-issue {
  background-color: #ebecf0;
  margin: 2rem;
  border: black solid 2px;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  box-shadow: 0px 1px 5px 1px rgb(83, 83, 83);

  button {
    align-self: center;
    font-weight: bold;
    border: 0.15rem solid;
    margin: 0rem;
    padding: 1.5rem;
    width: 100%;
    box-shadow: 2px 2px;
  }
  input {
    border: black solid 2px;
    margin-bottom: 0.5rem;
    padding: 0 5px;
  }
  textarea {
    align-content: flex-start;
    height: 20vh;
    border: black solid 2px;
    padding: 0 5px;
  }
  div.action-item {
    display: flex;
    justify-content: flex-start;
    .checkbox {
      margin: auto 0.5rem;
      width: 1rem;
    }
    .description {
      margin: 0.5rem 0;
      width: 100%;
      border: gray solid 2px;
    }
  }
  div {
    display: flex;
    justify-content: space-between;

    input {
      width: 80%;
    }
  }
}

.my-issues {
  display: flex;
  flex-direction: column;
  justify-content: center;
  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
  }
  .icons {
    display: none;
  }
  button {
    display: none;
  }
  .issue-details {
    padding: 1rem;
    height: 25vh;
    header {
      font-size: 1rem;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1; /* number of lines to show */
      line-height: 1.5rem; /* fallback */
      max-height: 4rem;
    }

    p {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2; /* number of lines to show */
      line-height: 1rem; /* fallback */
      max-height: 3rem;
    }
  }
  .checkbox {
    .cover {
      width: 100%;
      height: 100%;
      background: transparent;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      display: none;
    }
  }
}

select#users {
  margin: 1rem 0;
}

.issue-details {
  box-shadow: 0px 1px 5px 1px rgb(83, 83, 83);
  background-color: #ebecf0;
  margin: 1.5rem;
  border: black solid 2px;
  border-radius: 3px;
  padding: 0.5rem;

  overflow: hidden;
  header {
    font-size: 1rem;
    font-weight: bold;
  }

  .buttons {
    button {
      font-size: 1rem;
    }
  }
  div {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
  }
}

.my-action-items {
  display: flex;
  flex-direction: column;

  .action-item {
    display: flex;
    justify-content: flex-start;
  }

  div.checkbox {
    display: flex;
    align-content: center;
  }
  input.checkbox {
    align-self: center;
    margin-left: 1rem;
  }
  p {
    font-size: 1rem;
    margin: 0.5rem 1rem;
  }
}
